<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Filter" />
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="notes-list">
    <app-note-card
      [title]="'cheese puffs'"
      [body]="'eat some cheese puffs'"
    ></app-note-card>
    <app-note-card
      [title]="'grind 84x10 sbcs'"
      [body]="'rise and grind big boy'"
    ></app-note-card>
    <app-note-card
      [title]="'read books'"
      [body]="
        'Hi my name is Jamie. There was a time when radio played me, cos my music came from the heart. It was real to me but now its a path'
      "
    ></app-note-card>
    <app-note-card
      [title]="'take out the trash'"
      [body]="'yessir'"
    ></app-note-card>
  </div>
</div>
